button {
    width:120px;
  }
  
  #button-div {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    width:100%;
    left: 10px;
    z-index: 1;
    border: 2px soild black;
  }